
 body {
    height: 100%;
    margin: 0;
	text-align: center;
}

.gif-container {
  background: url("../images/back.gif") center;
  background-size: cover;
  height: 100%;
}
.font {
  color : yellow;
  font-size: 15px;
}

.fontr {
  color : red;
  font-size:  15px;
}

h1 {
	text-align: center;
}

h3 {
    text-align: center;
}

div {
	font-size: 15px;
  	font-family: Verdana;
}
